@using OnlineStore.Models

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Admin_Header.cshtml";
    Session["Page"] = "AdminUsers";

}

<body>
    <div class="ch-container">
        <div class="row">

            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="/Admin/Dashboard">Home</a>
                        </li>
                        <li>
                            <a href="/Admin/ManageAdmins">Admins</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i>Admins</h2>
                                <a href="/Admin/AddAdmin" class=" btn btn-success pull-right" style="margin-top:-17px;">Add Admin</a>
                            </div>

                            <div class="box-content">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                                    <thead>
                                        <tr>
                                            <th>Admin Name</th>
                                            <th>E-mail</th>
                                            <th>Password</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>



                                        @foreach (user u in Model)
                                        {

                                            if (!u.type.Equals("admin_m"))
                                            {


                                                <tr>
                                                    <td>@u.name</td>
                                                    <td>@u.email</td>
                                                    <td>@u.password</td>

                                                    <td class="center">

                                                        <i class="glyphicon glyphicon-trash icon-white btn btn-info">
                                                            @Html.ActionLink("Edit", "UpdateUser", u, new { @style = "color:white;font-size:15px; font-weight:bold;" })
                                                        </i>

                                                        <i class="glyphicon glyphicon-trash icon-white btn btn-danger">
                                                            @Html.ActionLink("Delete", "DeleteUser", u, new { @style = "color:white;font-size:15px; font-weight:bold;" })
                                                        </i>




                                                    </td>
                                                </tr>

                                            }

                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div><!--/row-->
                <!-- content ends -->
            </div><!--/#content.col-md-0-->
        </div><!--/fluid-row-->
    </div><!--/.fluid-container-->







</body>
