@using OnlineStore.Models
@{ user u = (user)HttpContext.Current.Session["user"];}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.sub.subName</title>
</head>

<body style="background-color:#ddd6d6; background-image: url('../../Content/mainSlider/blu-stripes.png'); ">



    <style>
        body::-webkit-scrollbar {
            width: 1em;
        }

        body::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        body::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }

        .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
            color: #fff;
            background-color: #1b1b1b;
        }

        .margintop20 {
            margin-top: 20px;
        }

        .nav-pills > li > a {
            border-radius: 0px;
            background-color: #dadada;
        }

        ul li a {
            color: #000;
            text-decoration: none;
        }

        a:hover {
            color: #0094ff;
            text-decoration: none;
        }


        .nav-stacked > li + li {
            margin-top: 0px;
            margin-left: 0;
            border-bottom: 1px solid #dadada;
            border-left: 1px solid #dadada;
            border-right: 1px solid #dadada;
        }

        .active2 {
            border-right: 4px solid #428bca;
        }








        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }

            .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }
    </style>



    <div class="container">
        <div class="row">
            <div class="col-xs-8 pull-left" style="margin-top:100px; width:350px">
                <ul class="nav nav-pills nav-stacked">

                    @{

                        <li class="active"><a href="#0" style="font-size:15px;"><span class="glyphicon glyphicon-paperclip"></span> Categories </a></li>
                        foreach (category c in ViewBag.catList)
                        {
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#0"><span class="glyphicon glyphicon-chevron-right">@c.c_name</span></a>
                                @if (c.subCategories.ToList().Count() != 0)
                                {

                                    <ul class="dropdown-menu nav nav-pills nav-stacked" style="background-color:rgba(0,0,0,0.3); ">

                                        <li class="active"><a href="#" style="font-size:15px;"><span class="glyphicon glyphicon-paperclip"></span> @c.c_name </a></li>

                                        @foreach (subCategory s in c.subCategories)
                                        {

                                            <li>
                                                @Html.ActionLink(s.subName, "getSubCategory", s)

                                            </li>

                                        }


                                    </ul>
                                }
                            </li>

                        }

                    }


                </ul>



                <ul class="nav nav-pills nav-stacked" style="margin-top:50px; ">




                    @{

                        <li class="active"><a href="#0" style="font-size:15px;"><span class="glyphicon glyphicon-paperclip"></span> Brands </a></li>
                        foreach (brand b in ViewBag.brandsList)
                        {

                            <li>

                                @Html.ActionLink(b.bName + "", "getBrand", b)

                            </li>
                        }

                    }


                </ul>





            </div>



            <!-- Page Content -->

            <style>
                .thumbnail {
                    background-color: #ddd6d6;
                    color: #0094ff;
                }
            </style>

            <!-- Page Content -->
            <link href="~/Content/SlimBox/slimbox2.css" rel="stylesheet" />
            <script src="~/Content/SlimBox/slimbox2.js"></script>


            <div class="col-xs-8 pull-right" style="margin-top:-5px;float:left; width:800px;">




                <script src="~/Scripts/jquery.js"></script>
                <script src="~/Content/fancybox/jquery-1.7.2.min.js"></script>
                <script src="~/Scripts/jquery.js"></script>
                <script src="~/Content/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
                <link href="~/Content/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
                <script src="~/Content/fancybox/source/jquery.fancybox.js"></script>
                <script src="~/Content/fancybox/source/jquery.fancybox.pack.js"></script>
                <link href="~/Content/fancybox/source/helpers/jquery.fancybox-buttons.css" rel="stylesheet" />
                <link href="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.css" rel="stylesheet" />
                <script src="~/Content/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
                <script src="~/Content/fancybox/source/helpers/jquery.fancybox-media.js"></script>
                <script src="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>

                <div class="col-lg-12">
                    <h1 style="margin-top:7%; color:black; font-size:30px;margin-left:9%;font-family:Bebas Neue; font-weight:bolder; ">@ViewBag.sub.subName</h1>
                    <hr />
                </div>


                @foreach (item i in Model)
                {

                    String src = i.item_Id + "_img_" + 1 + ".jpg";

                    if (i.subName != null)
                    {
                        if (i.subName.Equals(@ViewBag.sub.subName))
                        {
                            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                <a href="~/Files/@src" class=" thumbnail fancybox" style="color:#1b1b1b;border:1px solid black;border-radius:0px;box-shadow: 5px 5px 2px #888888; background-color:#ffffff">

                                    <img src="~/Files/@src" alt="" style="height:150px;width:150px;" />

                                    <font color="black">
                                        Item ID: @i.item_Id<br />
                                        Item: @i.name
                                        <br />
                                        Price: @i.price
                                    </font>
                                </a>


                                @if (u != null)
                                {

                                    <div class="glyphicon glyphicon-shopping-cart thumbnail" style="margin-top:-16px;">
                                        @Html.ActionLink("AddToCart", "AddToCart", i)

                                    </div>
                                }
                            </div>
                        }


                    }
                }
            </div>
        </div>

    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            /*
             *  Simple image gallery. Uses default settings
             */

            $('.fancybox').fancybox();

        });

    </script>



</body>

</html>
