@{
    Layout = null;
}
@using OnlineStore.Models
@{ user u = (user)HttpContext.Current.Session["user"];}


<div class="col-lg-12">
    <h1 style="color:#1b1b1b; font-size:30px;margin-left:9%;font-family:Bebas Neue; font-weight:bolder; ">Latest Products</h1>
    <hr />
</div>

@{
    List<item> list = new List<item>();
    list = ViewBag.LatestItemsList;
}

@if(list.Count > 13)
{ 

@for (int i = 0; i < 12; i++)
{

    String src = list[i].item_Id + "_img_" + 1 + ".jpg";
    
    <div class="col-lg-3 col-md-4 col-xs-6" style="height:310px; ">

        @if (i % 2 == 0)
        {
            <div class="ribbon"><span>Popular</span></div>
        }

        <a href="~/Files/@src" class=" thumbnail" style="color:#1b1b1b;box-shadow: 5px 5px 2px #888888;border:1px solid black;border-radius:0px; background-color:#ffffff" rel="lightbox">
            <img src="~/Files/@src" alt="" style="height:150px;width:150px;">


            ID: @list[i].item_Id <br />
            Name: @list[i].name
            <br />
            Brand: @list[i].brand <br />
            Category: @list[i].category <br />
            Price:  @list[i].price
        </a>

        @if (u != null)
        {
            <div class="glyphicon glyphicon-shopping-cart thumbnail" style="margin-top:-17px;color:#1b1b1b;border-radius:0px; background-color:#ffffff">
                @Html.ActionLink("AddToCart", "AddToCart", list[i])

            </div>

        }
    </div>
    
}
}

